<div class="row justify-content-center mt-4">
  <div class="col col-lg-10">

        <div class="row mb-3">
          <H2 class="">Pedido n°{{registro.id}}:</H2>
        </div>
        
       
        <div class="row align-items-center">
          <div class="col">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Detalles</h5>
                  <ul>
                    <li>Estado: {{utils.getEstado(registro.estado)}}</li>
                    <li>Pedido en: {{utils.parseDate(registro.fechas.creado)}}</li>
                    <li>finalizado en: {{utils.parseDate(registro.fechas.terminado)}}</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Comentarios del pedido:</h5>
                  <p *ngIf="!registro.comentarioUsuario" class="card-text">(sin comentarios)</p>
                  <p class="card-text">{{registro.comentarioUsuario}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!(registro.productos.length == 0)" class="row mt-4">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of registro.productos">
                <th scope="row">{{item.id}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.cantidad}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div *ngIf="registro.productos.length == 0" class="row mt-4 justify-content-center">
          <div class="col">
            <hr class="mb-4">
            <h4 class="text-secondary text-center font-italic">.. sin elementos ..</h4>
          </div>
        </div>

        <div *ngIf="registro.comentarioAdmin" class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Comentarios del Administrador:</h5>
                <p class="card-text">{{registro.comentarioAdmin}}</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="col">
            <hr>
          </div>
        </div>

        <div class="row justify-content-between mt-2">

          
          <button type="button" class="btn btn-danger ml-4" data-toggle="modal" data-target="#exampleModal">
            Cancelar pedido
          </button>
          <button [routerLink]="['/solicitudes']" class="btn btn-primary mr-4">Volver</button>
        </div>

</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Está seguro de que desea cancelar esta solicitud?
      </div>
      <div class="modal-footer">
        <button [routerLink]="['/solicitudes']" data-dismiss="modal" type="button" class="btn btn-danger">Cancelar solicitud</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>