<app-loading *ngIf="insumosData.loading || solicitud.loading || categoriasData.loading"></app-loading>

<div *ngIf="!insumosData.loading && !solicitud.loading && !categoriasData.loading" class="row mt-4 justify-content-center">
  <div class="col-lg-10">

      <div *ngIf="solicitud.ventana == 1" class="row justify-content-center animated fadeIn">
        <div class="col col-md-8 col-lg-7 bg-white rounded shadow-sm p-4">
          
          <div class="row align-items-center mb-2">
            <div class="col col-auto mt-2">
              <h2>Nueva solicitud de {{this.loginData.oficinaSolicitud.nombre}}:</h2>
            </div>
            <div class="col text-right">
              <button class="btn btn-diputado" (click)="aElegir()">Cambiar</button>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <hr class="mt-1 mb-3">
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col col-auto text-left">
              <p class="my-0">Usuario del pedido:</p>
            </div>
            <div class="col col-auto text-left">
              <select [(ngModel)]="user_id" name="usu" id="usu" class="form-control">
                <option selected disabled [value]="null">Usuario del pedido</option>
                <option *ngFor="let item of loginData.oficinaSolicitud.usuarios" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <hr class="mt-3 mb-3">
            </div>
          </div>
          
          <div class="row justify-content-center">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Insumos:
                </div>
                <div class="card-body">
                  <div class="row justify-content-between ">
                    <div class="col">
                      <div class="form-group">
                        <select [(ngModel)]="categoria" name="cat" id="insumo" class="form-control" >
                          <option selected disabled value="undefined">Categorias</option>
                          <option value="0">Todas</option>
                          <ng-container *ngFor="let cat of categoriasData.categorias">
                            <optgroup label="{{cat.nombre}}">
                              <option *ngFor="let sub of cat.subcategorias" [value]="sub.id">{{sub.nombre}}</option>
                            </optgroup>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <select [(ngModel)]="insumoId" name="insu" id="insumo" class="form-control">
                          <option selected disabled value="undefined"><b>Insumo</b></option>
                          <ng-container *ngFor="let articulo of insumosData.insumos">
                            <option *ngIf="articulo.subcategoria_id == categoria || categoria == 0" [disabled]="articulo.stock == 0"  value="{{articulo.id}}">{{articulo.nombre}}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="form-group">
                        <input [(ngModel)]="cantidad" name="canti" id="cantidad" class="form-control" type="number"
                          placeholder="Cantidad" name="">
                      </div>
                    </div>
                    <div class="col col-auto">
                      <div class="row justify-content-end">
                        <button (click)="agregar()" class="btn btn-diputado mr-3" type="button">
                          ✚
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="solicitud.solicitud.insumos.length == 0">

            <div class="row justify-content-center mt-2">
              <div class="col">
                <hr class="mb-4">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
              </div>
            </div>

          </ng-container>
          
          <div class="row justify-content-center mt-3">
            <div class="col">
              <table *ngIf="solicitud.solicitud.insumos.length != 0" class="table">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
<!--                     <th scope="col">Min.</th>
                    <th scope="col">Max.</th> -->
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of solicitud.solicitud.insumos; let i = index">
                    <th scope="row">{{item.codigo}}</th>
                    <td>{{item.nombre}}</td>
                    <td> {{item.cantidad}}</td>
<!--                     <td class="text-danger" *ngIf="item.cantidad < item.minimo"> {{item.minimo}}</td>
                    <td class="" *ngIf="item.cantidad >= item.minimo"> {{item.minimo}}</td>
                    <td class="text-danger" *ngIf="item.cantidad > item.maximo"> {{item.maximo}}</td>
                    <td class="" *ngIf="item.cantidad <= item.maximo"> {{item.maximo}}</td> -->
                    <td>
                      <button (click)="quitar(item.id)" class="btn btn-sm btn-danger ml-2">X</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <hr class="mt-0">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlTextarea1"><h5>Justificación del pedido:</h5></label>
                <textarea [(ngModel)]="comentario" name="coment" class="form-control" id="exampleFormControlTextarea1"
                  rows="3"></textarea>
              </div>
            </div>
          </div>

          <ng-container *ngIf="errorVacio">

            <div class="row">
              <div class="col">
                <hr class="mt-0 animated fadeIn">
              </div>
            </div>

            <div class="row px-3">
              
              <div class="col border rounded shadow-sm text-center p-3 animated fadeIn">
                <h5 class="text-danger">Debe agregar almenos un item para poder enviar la solicitud</h5>
              </div>

            </div>

          </ng-container>
          
          
          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
          
          <div class="row justify-content-between">
            <div class="col mr-3">
              <div class="row justify-content-end">
                <button class="btn btn-success" type="button" (click)="this.enviar()">Enviar</button>
              </div>
            </div>
          
            <div class="col ml-3">
              <div class="row justify-content-start">
                <button class="btn btn-diputado" routerLink="/inicio" type="button">Volver</button>
              </div>
            </div>
          </div>

        </div>
      </div>

        <ng-container *ngIf="solicitud.ventana == 2">
          <div class="row justify-content-center animated fadeIn">
            <div class="col col-lg-7 p-4 rounded bg-light mt-3">
        
              <div class="row">
                <div class="col">
                  <h1 class="display-4 text-center">Aviso</h1>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-3">
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <p *ngIf="solicitud.aprobado" class="lead text-center text-success">Pedido enviado y aprobado</p>
                  <p *ngIf="!solicitud.aprobado" class="lead text-center naranja">Pedido enviado y a la espera de aprobación</p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-4">
                </div>
              </div>

              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-diputado" (click)="volver()" type="button">Volver</button>
                </div>
              </div>

            </div>
          </div>
        </ng-container>



        <!-- <ng-container *ngIf="solicitud.ventana == 3">
          <div class="row justify-content-center animated fadeIn">
            <div class="col col-lg-7 p-4 rounded bg-light mt-3">
        
              <div class="row">
                <div class="col">
                  <h4 class="display-4 text-center">Elegir Almacén</h4>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-3">
                </div>
              </div>
        
              <div class="row">
                <div class="col">
              
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Almacén:</label>
                    <select [(ngModel)]="almacen_id" class="form-control" id="exampleFormControlSelect2">
                      <option selected disabled [value]="null">Almacén</option>
                      <option *ngFor="let al of loginData.oficinaLogin.almacenes" [value]='al.id'>{{al.nombre}}</option>
                    </select>
                  </div>
             
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-4">
                </div>
              </div>
        
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-diputado" (click)="elegirAlmacen()" type="button">Elegir</button>
                </div>
              </div>
        
            </div>
          </div>
        </ng-container> -->
    
        <ng-container *ngIf="solicitud.ventana == 3">
          <div class="row justify-content-center animated fadeIn">
            <div class="col col-lg-7 p-4 rounded bg-light mt-3">
        
              <div class="row">
                <div class="col">
                  <h4 class="display-4 text-center">Elegir Oficina</h4>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-3">
                </div>
              </div>
        
              <div class="row">
                <div class="col">
        
                  <div class="form-group">
                    <label for="exampleFormControlSelect2">Oficina:</label>
                    <select [(ngModel)]="oficina_id" class="form-control" id="exampleFormControlSelect2">
                      <option selected disabled [value]="null">Oficina</option>
                      <option *ngFor="let ofi of loginData.almacenLogin.oficinas" [value]='ofi.id'>{{ofi.nombre}}</option>
                    </select>
                  </div>
        
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-4">
                </div>
              </div>
        
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-diputado" (click)="elegirOficina()" type="button">Elegir</button>
                </div>
              </div>
        
            </div>
          </div>
        </ng-container>




  </div>
</div>


<!-- ////////// -->