<app-loading *ngIf="insumosData.loading || solicitud.loading"></app-loading>

<div *ngIf="!insumosData.loading && !solicitud.loading" class="row mt-4 justify-content-center">
  <div class="col-lg-10">

      <div *ngIf="solicitud.ventana == 1" class="row justify-content-center animated fadeIn">
        <div class="col col-md-8 col-lg-7 bg-white rounded shadow-sm p-4">
          
          <div class="row">
            <div class="col">
              <h2>Nueva solicitud:</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <hr class="mt-1 mb-3">
            </div>
          </div>
          
          <div class="row justify-content-center">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Insumos:
                </div>
                <div class="card-body">
                  <div class="row justify-content-between ">
                    <div class="col">
                      <div class="form-group">
                        <select [(ngModel)]="insumoId" name="insu" id="insumo" class="form-control" name="">
                          <option selected disabled value="undefined">insumo</option>
                          <option *ngFor="let articulo of insumosData.insumos" value="{{articulo.id}}">{{articulo.nombre}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="form-group">
                        <input [(ngModel)]="cantidad" name="canti" id="cantidad" class="form-control" type="number"
                          placeholder="Cantidad" name="">
                      </div>
                    </div>
                    <div class="col col-auto">
                      <div class="row justify-content-end">
                        <button (click)="agregar()" class="btn btn-diputado mr-3" type="button">
                          ✚
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="solicitud.solicitud.insumos.length == 0">

            <div class="row justify-content-center mt-2">
              <div class="col">
                <hr class="mb-4">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
              </div>
            </div>

          </ng-container>
          
          <div class="row justify-content-center mt-3">
            <div class="col">
              <table *ngIf="solicitud.solicitud.insumos.length != 0" class="table">
                <thead>
                  <tr>
                    <th scope="col">codigo</th>
                    <th scope="col">Solicitado por</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Min.</th>
                    <th scope="col">Max.</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of solicitud.solicitud.insumos; let i = index">
                    <th scope="row">{{item.codigo}}</th>
                    <td>{{item.nombre}}</td>
                    <td> {{item.cantidad}}</td>
                    <td class="text-danger" *ngIf="item.cantidad < item.minimo"> {{item.minimo}}</td>
                    <td class="" *ngIf="item.cantidad >= item.minimo"> {{item.minimo}}</td>
                    <td class="text-danger" *ngIf="item.cantidad > item.maximo"> {{item.maximo}}</td>
                    <td class="" *ngIf="item.cantidad <= item.maximo"> {{item.maximo}}</td>
                    <td>
                      <button (click)="quitar(item.id)" class="btn btn-sm btn-danger ml-2">X</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <hr class="mt-0">
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Comentario...</label>
                <textarea [(ngModel)]="comentario" name="coment" class="form-control" id="exampleFormControlTextarea1"
                  rows="3"></textarea>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
          
          <div class="row justify-content-between">
            <div class="col mr-3">
              <div class="row justify-content-end">
                <button class="btn btn-success" type="button" (click)="this.enviar()">Enviar</button>
              </div>
            </div>
          
            <div class="col ml-3">
              <div class="row justify-content-start">
                <button class="btn btn-diputado" routerLink="/inicio" type="button">Volver</button>
              </div>
            </div>
          </div>

        </div>
      </div>


        <ng-container *ngIf="solicitud.ventana == 2">
          <div class="row justify-content-center animated fadeIn">
            <div class="col col-lg-7 p-4 rounded bg-light mt-3">
        
              <div class="row">
                <div class="col">
                  <h1 class="display-4 text-center">Aviso</h1>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-3">
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <p *ngIf="solicitud.aprobado" class="lead text-center text-success">Pedido enviado y aprobado</p>
                  <p *ngIf="!solicitud.aprobado" class="lead text-center naranja">Pedido enviado y a la espera de aprovación</p>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-4">
                </div>
              </div>

              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-diputado" (click)="volver()" type="button">Volver</button>
                </div>
              </div>


        
            </div>
          </div>
        </ng-container>


    




  </div>
</div>


