<app-loading *ngIf="loginData.loading"></app-loading>


<!-- //////////////////// -->

<div class="row my-4"> 
</div>

<div *ngIf="!loginData.loading" class="row mt-4 justify-content-center animated fadeIn">
  <div class="col col-lg-4 bg-white shadow-sm rounded">
    
    <div class="row">
      <div class="col">
        <h1 class="display-4 text-center mt-4">¡Bienvenido!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="lead text-center my-0">Elija una opción para comenzar...</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mx-2">
      </div>
    </div>

      <div class="row justify-content-center mb-4">
        <div class="col col-auto">
          <div class="row justify-content-center">
            <a *ngIf="loginData.type != 9" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3" routerLink="/crear"
              role="button">Nueva solicitud</a>
          </div>
          <div class="row justify-content-center">
            <a *ngIf="loginData.type == 0" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3"
              routerLink="/solicitudes" role="button">Mis solicitudes</a>
          </div>
          <div class="row justify-content-center">
            <a *ngIf="loginData.type == 1" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3"
              routerLink="/solicitudes" role="button">solicitudes entrantes</a>
          </div>
          <div class="row justify-content-center">
            <a *ngIf="loginData.type == 1" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3" routerLink="/bienes"
              role="button">Administrar bienes</a>
          </div>
          <div class="row justify-content-center">
            <a *ngIf="loginData.type == 9" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3" routerLink="/almacenes"
              role="button">Administrar almacenes</a>
          </div>
          <div class="row justify-content-center">
            <a *ngIf="loginData.type == 9" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3" routerLink="/oficinas"
              role="button">Administrar oficinas</a>
          </div>
          <div class="row justify-content-center">
            <a *ngIf="loginData.type == 9" class="btn btn-diputado btn-lg btn-block text-uppercase mb-3" routerLink="/usuarios"
              role="button">Administrar usuarios</a>
          </div>
        </div>
    </div>

  </div>

</div>

