
@import '~ngx-toastr/toastr';

.grey {
    background-color: #dfe5eb;
}

.navColor {
  background-color:#0c2355;
 }
 
 .blued {
  color: #0c2355;
 }

.navFont {
     color: #cdd3d9;
 }

 .naranja {
     color: #b8900f;
 }

.navBtn {
    height: 75px;
    padding-top: 27px;
    
}

.listText{
  font-size: 16px;
}

.btn-diputado {
  background-color: #0e2d70;
  color: #ffffff;
}

.btn-diputado:hover {
  background-color: #354d80;
  color: white;
}

.btn-verde {
  background-color: #0e2d70;
  color: #ffffff;
}

.btn-verde:hover {
  background-color: #57688d;
  color: white;
}

.btn-outline-primary{

    border-color: #0e2d70;
    color: #0e2d70;
}
.btn-outline-primary:hover{
    background-color: #0e2d70;
    border-color: #0e2d70;
    color: #ffffff;
}

.sectionText {
  font-size: 22px;
}

.alertaText {
  font-size: 18px;
}

.fontChico {
  font-size: 0.85rem;
}




/* ////////////////////// */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}