<app-loading *ngIf="pedidos.loading"></app-loading>

<!-- ////////////////////// -->

<div *ngIf="!pedidos.loading && pedidos.ventana == 1" class="row justify-content-center mt-4 mb-4 animated fadeIn">
  <div class="col col-md-8 col-lg-6 bg-white rounded shadow-sm p-4">

    <div class="row justify-content-between">
      <div class="col col-auto">
        <h2>Bandeja de solicitudes</h2>
      </div>
      <div class="col col-auto mr-3">
        <a class="btn btn-diputado" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
          aria-controls="multiCollapseExample1">Filtros</a>
      </div>
    </div>
    

    
    <div class="row justify-content-center">
      <div class="col">

        <div class="collapse multi-collapse" id="multiCollapseExample1">

              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-4">
                </div>
              </div>
          
          <div class="card">
            <div class="card-header h5 ">
              Filtros
            </div>
            <div class="card-body">
              <div class="row justify-content-lg-center">
                <div class="col">
                  <form>
                    <div class="row justify-content-lg-center">
          
                      <div class="col">
                        <div class="form-group mr-lg-2">
                          <label for="numero">Número</label>
                          <input [(ngModel)]="idBusqueda" name="idBus" type="number" class="form-control" id="numero"
                            aria-describedby="numero" placeholder="Número">
                        </div>
                      </div>
          
                      <div class="col">
                        <div class="form-group mr-lg-2">
                          <label for="desde">Desde:</label>
                          <input [(ngModel)]="fechaDesde" name="fechaDe" type="date" class="form-control" id="desde"
                            placeholder="Desde">
                        </div>
                      </div>
          
                      <div class="col">
                        <div class="form-group mr-lg-2">
                          <label for="hasta">Hasta:</label>
                          <input [(ngModel)]="fechaHasta" name="fechaHa" type="date" class="form-control" id="hasta"
                            aria-describedby="hasta" placeholder="hasta">
                        </div>
                      </div>
          
                      <div class="col">
                        <div class="form-group ">
                          <label for="hasta">Estado:</label>
                          <select [(ngModel)]="estadoBusqueda" name="estadoBu" class="form-control" id="estado"
                            aria-describedby="estado" placeholder="estado">
                            <option value="">todos</option>
                            <option *ngFor="let estado of utils.estados" value="{{estado.id}}">{{estado.nombre}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
          
                  </form>
          
                  <div class="row justify-content-lg-end ">
                    <div class="col col-auto">
                      <button class="btn btn-diputado" (click)="limpiar()">Limpiar</button>
                    </div>
                    <div class="col col-auto">
                      <button class="btn btn-diputado" (click)="filtrar()">Buscar</button>
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3"></div>

        </div>
        

      </div>
   
    </div>


    <div *ngIf="pedidos.pedidosFiltrados.length == 0" class="row justify-content-center mt-0">
      <div class="col">
        <div class="row mt-0 justify-content-center">
          <div class="col">
            <hr class="mb-4 mt-2">
            <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
            <hr class="mb-1 mt-4">
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="pedidos.pedidosFiltrados.length != 0" class="row mt-2 mb-0">
      <div class="col">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th *ngIf="login.type == 0" scope="col">Almacén</th>
              <th scope="col">Creado en</th>
              <th scope="col">Estado</th>
              <th *ngIf="login.type != 0" scope="col">Solicitado por</th>
              <th *ngIf="login.type == 0" scope="col">Evaluado por</th>
              <th scope="col" class="text-center">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pedidos.pedidosFiltrados; let i = index">
              <th scope="row">{{item.pedido_id}}</th>
              <td *ngIf="login.type == 0">{{item.almacen}}</td>
              <td>{{utils.parseDate(item.fecha)}}</td>
              <td [class]="utils.getColor(item.estado)">{{utils.getEstado(item.estado)}}</td>
              <td *ngIf="login.type != 0">{{item.oficina}}</td>
              <td *ngIf="login.type == 0">
                <ng-container *ngIf="item.estado != 0 && !item.evaluado_por">Sistema</ng-container>{{item.evaluado_por}}
              </td>
              <td class="text-center">
                <button (click)="detalles(item.pedido_id)" class="btn btn-sm btn-diputado ">≡</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<!-- /////////////////////////////////////////// -->


<div *ngIf="!pedidos.loading && pedidos.ventana == 2" class="row justify-content-center mt-4 mb-4 mb-4 animated fadeIn">
  <div class="col col-md-8 col-lg-6 bg-white rounded shadow-sm p-4">

    <div class="row">
      <div class="col">
        <h2 class="">Pedido n°{{pedidos.pedido.pedido_id}}:</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-1 mb-4">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Detalles</h5>
              <ul>
                <li>Creado por: {{pedidos.pedido.user}}</li>
                <li>Oficina: {{pedidos.pedido.oficina}}</li>
                <li>Almacen: {{pedidos.pedido.almacen}}</li>
                <li *ngIf="pedidos.pedido.estado != 0 && pedidos.pedido.estado != 4">Evaluado por: 
                  <ng-container *ngIf="pedidos.pedido.estado != 0 && !pedidos.pedido.evaluado_por">Sistema</ng-container>
                  {{pedidos.pedido.evaluado_por}}</li>
                <li *ngIf="pedidos.pedido.estado == 4 && !pedidos.pedido.evaluado_por">Cancelado por: oficina de origen</li>
                <li *ngIf="pedidos.pedido.estado == 4 && pedidos.pedido.evaluado_por">Rechazado por: {{pedidos.pedido.evaluado_por}}</li>
                <li *ngIf="pedidos.pedido.entregado_por">Entregado por: {{pedidos.pedido.entregado_por}}
                </li>
                <li *ngIf="pedidos.pedido.retirado_por">Retirado por: {{pedidos.pedido.retirado_por}}
                </li>
                <li>Estado: {{utils.getEstado(pedidos.pedido.estado)}}</li>
                <li>Fecha: {{utils.parseDate(pedidos.pedido.fecha)}}</li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Comentarios del pedido:</h5>
              <p *ngIf="!pedidos.pedido.comentario_usuario" class="card-text">(sin comentarios)</p>
              <p *ngIf="pedidos.pedido.comentario_usuario" class="card-text">{{pedidos.pedido.comentario_usuario}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pedidos.pedido.productos">
                    <th scope="row">{{item.codigo}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.cantidad}}</td>
                    <td [class]="utils.getColorProducto(item.estado)">{{utils.getEstadoProducto(item.estado)}}</td>
                  </tr>
                </tbody>
              </table>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-0 mb-2">
      </div>
    </div>

    <div class="row justify-content-end mb-2">
      <div class="col col-auto px-0 mr-4">
        <h5>Tiempo de preparación: {{pedidos.pedido.preparacion}} días</h5>
      </div>
      <div *ngIf="login.type != 0" class="col col-auto mr-2">
        <button (click)="casillaPreparacion(this.pedidos.pedido.preparacion)" class="btn btn-sm btn-diputado" data-toggle="modal" data-target="#preparacionModal">≡</button>
      </div>
    </div>

    <div *ngIf="pedidos.pedido.comentario_administrador" class="row mt-0">

      <div class="col">
        
        <div class="row">
          <div class="col">
            <hr class="mt-0 mb-4">
          </div>
        </div>

        <div class="row mb-4">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Comentarios del Administrador:</h5>
                  <p class="card-text">{{pedidos.pedido.comentario_administrador}}</p>
                </div>
              </div>
            </div>
        </div>

      </div>

    </div>

    <div class="row mt-0">
      <div class="col">
        <hr class=" mt-0">
      </div>
    </div>

    <div class="row mt-2">

      <div class="col col-auto text-left">
        <button (click)="toEstado = 4" *ngIf="pedidos.pedido.estado == 0" type="button" class="btn btn-danger mr-4"
          data-toggle="modal" data-target="#exampleModal">
          Cancelar pedido
        </button>
        <button (click)="toEvaluar()" *ngIf="pedidos.pedido.estado == 0 && login.type != 0" type="button" class="btn btn-diputado mr-4"
          data-toggle="modal" data-target="#evaluarModal">
          Evaluar
        </button>
        <button (click)="toEstado = 2" *ngIf="(pedidos.pedido.estado == 1 || pedidos.pedido.estado == 5) && login.type != 0" type="button" class="btn btn-diputado mr-4"
          data-toggle="modal" data-target="#exampleModal">
          Marcar en proceso
        </button>
        <button (click)="getUsersEntregar(pedidos.pedido.oficina_id)" *ngIf="pedidos.pedido.estado == 2" type="button" class="btn btn-diputado mr-4"
          data-toggle="modal" data-target="#entregarModal">
          Marcar entregado
        </button>
      </div>

      <div class="col text-right">
        <button (click)="volver()" class="btn btn-diputado">Volver</button>
      </div>
      
    </div>

  </div>
</div>

<div *ngIf="!pedidos.loading && pedidos.ventana == 2" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Está seguro de que desea realizar esta acción?</h5>

        <div *ngIf="toEstado == 4 && login.type != 0" class="form-group">
          <label for="exampleFormControlTextarea1">Comentario...</label>
          <textarea [(ngModel)]="comentario" name="coment" class="form-control" id="exampleFormControlTextarea1"
            rows="4"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="update()" data-dismiss="modal" class="btn btn-diputado">Confirmar</button>
        <button type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!pedidos.loading && pedidos.ventana == 2" class="modal fade" id="evaluarModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Evaluar Pedido</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row mt-0">
          <div class="col px-3">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Bien</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of packEvaluar">
                  <td><h5>{{producto.nombre}}</h5></td>
                  <td>
                    <div class="form-group mr-lg-2">
                      <input [(ngModel)]="producto.cantidad" name="canti" type="number" class="form-control" id="hasta" aria-describedby="hasta"
                        placeholder="cantidad">
                    </div>
                  </td>
                  <td>
                    <button (click)="producto.aprobado = true" *ngIf="!producto.aprobado" class="btn btn-sm btn-danger">Cancelado</button>
                    <button (click)="producto.aprobado = false" *ngIf="producto.aprobado" class="btn btn-sm btn-success">Aprobado</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row justify-content-between">
              <div class="col col-auto">
                <button (click)="updateEvaluar()" data-dismiss="modal" class="btn btn-diputado">Confirmar</button>
              </div>
              <div class="col col-auto">
                <button type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
              </div>
            </div>
            
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



<!-- /////////////////////////////////////////////// -->

<ng-container *ngIf="pedidos.ventana == 3">
  <div class="row mt-5 justify-content-center animated fadeIn">
    <div class="col col-lg-7 p-4 rounded bg-light mt-3">

      <div class="row">
        <div class="col">
          <h1 class="display-4 text-center">Aviso</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr class="mt-1 mb-3">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p  class="lead text-center text-danger">No hay stock suficiente para proseguir con esta solicitud</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr class="mt-1 mb-4">
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <button class="btn btn-diputado" (click)="volver()" type="button">Volver</button>
        </div>
      </div>

    </div>
  </div>
</ng-container>


<!-- /////////////////////////////////////////////////// -->

<div class="modal fade mt-5" id="preparacionModal" tabindex="-1" role="dialog"
  aria-labelledby="comentarioStockModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar tiempo de preparación:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">
            <div class="form-group mr-lg-2">
              <label for="numero">Tiempo de preparacion: (días)</label>
              <input [(ngModel)]="nuevaPreparacion" name="prepa" type="number" class="form-control" id="preparacion"
                aria-describedby="preparacion" placeholder="Cantidad de días">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col text-left">
            <button (click)="enviarPreparacion()" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
          <div class="col text-right">
            <button  type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mt-5" id="entregarModal" tabindex="-1" role="dialog" aria-labelledby="comentarioStockModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Marcar entregado:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">
        
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Administrador que entrega la solicitud:</label>
                <select [(ngModel)]="packEntregar.username" name="usu" id="usu" class="form-control">
                  <option selected disabled [value]="null">Administrador</option>
                  <option *ngFor="let item of login.almacenLogin.administradores" [value]="item.username">{{item.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input [(ngModel)]="packEntregar.password" name="password" type="password" class="form-control"
                  id="exampleInputPassword1" placeholder="Contraseña">
              </div>
        
              <div class="row">
                <div class="col">
                  <hr class="mt-1 mb-3">
                </div>
              </div>
        
              <div class="form-group">
                <label for="numero">Usuario que lo recibió:</label>
                <select *ngIf="login.oficinaSolicitud" [(ngModel)]="packEntregar.empleado_id" name="usu" id="usu"
                  class="form-control">
                  <option selected disabled [value]="null">Usuario que lo recibió</option>
                  <option *ngFor="let item of login.oficinaSolicitud.usuarios" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
        
            </form>
        
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col text-left">
            <button (click)="updatePanel()" type="button" class="btn btn-success"
              data-dismiss="modal">Guardar</button>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>