<app-loading *ngIf="insumosData.loading || categoriasData.loading || loginData.loading"></app-loading>

<!-- //////////////////////////////// -->

<div *ngIf="!insumosData.loading && insumosData.ventana == 1" class="row justify-content-center mt-5 animated fadeIn">
  <div class="col col-md-10 col-lg-7 bg-white rounded shadow-sm p-4">

    <div class="row">
      <div class="col col-auto">
        <h2>Listado de bienes</h2>
      </div>
      <div class="col text-right">
        <button class="btn btn-diputado" (click)="toCrear()">Agregar</button>
      </div>
    </div>

    <ng-container *ngIf="!insumosData.loading && insumosData.ventana == 1 && insumosData.insumosAlerta.length">
    
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>
    
      <div class="row justify-content-center align-items-center">
        <div class="col">
          <h5 class="font-italic">Uno o mas bienes tienen su stock por debajo del punto de pedido</h5>
        </div>
        <div class="col col-auto py-0">
          <button class="btn btn-sm btn-diputado" data-toggle="modal" data-target="#alertaModal">Ver</button>
        </div>
      </div>
    
    </ng-container>

    <ng-container *ngIf="this.insumosData.insumos.length > 0">

      <div class="row">
        <div class="col">
          <hr class="">
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="buscar" id="listSearch">
        </div>
      </div>

      <div class="row mt-3 mb-0 ">
      
        <div class="col">
          <table class="table pb-0">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Stock</th>
                <th class="text-center" scope="col">Mod. stock</th>
                <th class="text-center" scope="col">Detalles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.insumosData.insumos | search: buscar | paginate: { itemsPerPage: 7, currentPage: p }">
                <th scope="row">{{item.codigo}}</th>
                <td>{{item.nombre}}</td>
                <ng-container *ngIf="item.subcategoria">
                  <td>{{item.subcategoria.categoria.nombre}} / {{item.subcategoria.nombre}}</td>
                </ng-container>
                <td *ngIf="!item.subcategoria">(Sin asignar)</td>
                <td>{{item.stock}}</td>
                <td class="text-center"><button (click)="toStock(item.id)" class="btn btn-sm btn-diputado "
                    data-toggle="modal" data-target="#exampleModal">≡</button></td>
                <td class="text-center">
                  <button (click)="toDetalles(item.id)" class="btn btn-sm btn-diputado ">≡</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>

      <div class="row mt-0 pt-0">
        <div class="col pt-0">
          <hr class="mt-0">
        </div>
      </div>
      
      <div class="row justify-content-center">
        <div class="col col-auto">
          <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>

    </ng-container>
    

    

    <ng-container *ngIf="this.insumosData.insumos.length <= 0">

      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
        </div>
      </div>

    </ng-container>

  </div>
</div>

<div class="modal fade mt-4" id="alertaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bienes por debajo del punto de pedido:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li class="alertaText" *ngFor="let item of insumosData.insumosAlerta">{{item.nombre}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-diputado" data-dismiss="modal">volver</button>
      </div>
    </div>
  </div>
</div>


<!-- /////////////////////////////// -->



<div *ngIf="insumosData.ventana == 2 && !categoriasData.loading" class="row mt-5 justify-content-center animated fadeIn">
  <div class="col col-md-6 col-lg-4 bg-white rounded shadow-sm p-4">

    <div class="row">
      <div class="col">
        <h2>Añadir bienes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-2">        
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre</label>
          <input [(ngModel)]="nombre" name="nom" type="text" class="form-control" id="exampleInputPassword1"
            placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mínimo en pedido</label>
          <input [(ngModel)]="minimo" name="min" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Mínimo">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mínimo en stock</label>
          <input [(ngModel)]="alerta" name="StockMin" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Mínimo en Stock">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoria</label>
          <select [(ngModel)]="subCategoria" name="cat" class="form-control" id="exampleFormControlSelect1">
            <option [selected]="true" disabled [value]="null">
              Sin asignar</option>
            <ng-container *ngFor="let cat of categoriasData.categorias">
              <optgroup label="{{cat.nombre}}">
                <option *ngFor="let sub of cat.subcategorias" [value]="sub.id">{{sub.nombre}}</option>
              </optgroup>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Frecuencia de pedido</label>
          <input [(ngModel)]="frecuencia" name="cod" type="number" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="cantidad de días">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Máximo en rango</label>
          <input [(ngModel)]="maximo" name="max" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Máximo">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Stock inicial</label>
          <input [(ngModel)]="stock" name="stocki" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Stock inicial">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Tiempo de preparación</label>
          <input [(ngModel)]="preparacion" name="cod" type="number" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="cantidad de días">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-2">
      </div>
    </div>
    
    <div class="row ">
      <div class="col text-center">
        <button class="btn btn-diputado" (click)="enviar()">Enviar</button>
      </div>
      <div class="col text-center">
        <button class="btn btn-diputado" (click)="cambioVentana(1)">Volver</button>
      </div>
    </div>

  </div>
</div>

<!-- /////////////////////////////// -->


<div *ngIf="insumosData.ventana == 3 && !insumosData.loading && !categoriasData.loading" class="row mt-5 justify-content-center animated fadeIn">
  <div class="col col-md-6 col-lg-4 bg-white rounded shadow-sm p-4">

    <div class="row">
      <div class="col">
        <h2>Editar bienes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-2">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre</label>
          <input [(ngModel)]="insumoEdit.nombre" name="nom" type="text" class="form-control" id="exampleInputPassword1"
            placeholder="Nombre">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Mínimo en stock</label>
          <input [(ngModel)]="insumoEdit.alerta" name="StockMin" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Mínimo en stock">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Mínimo por pedido</label>
          <input [(ngModel)]="insumoEdit.minimo" name="min" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Mínimo">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Máximo en rango</label>
          <input [(ngModel)]="insumoEdit.maximo" name="max" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Máximo">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Tiempo de preparación</label>
          <input [(ngModel)]="insumoEdit.preparacion" name="pre" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="Días de preparación">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleInputPassword1">Frecuencia de pedido</label>
          <input [(ngModel)]="insumoEdit.frecuencia" name="fre" type="number" class="form-control" id="exampleInputPassword1"
            placeholder="cantidad de días">
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-auto">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoria</label>
          <select [(ngModel)]="insumoEdit.subcategoria_id" name="cat" class="form-control" id="exampleFormControlSelect1">
            <ng-container *ngFor="let cat of categoriasData.categorias">
              <optgroup label="{{cat.nombre}}">
                <option *ngFor="let sub of cat.subcategorias" [selected]="sub.id == insumoEdit.subcategoria_id"  [value]="sub.id">{{sub.nombre}}</option>
              </optgroup>
            </ng-container>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-2">
      </div>
    </div>

    <div class="row ">
      <div class="col text-center">
        <button class="btn btn-diputado" (click)="editar()">Guardar</button>
      </div>
      <div class="col text-center">
        <button class="btn btn-diputado" (click)="cambioVentana(1)">Volver</button>
      </div>
    </div>

  </div>
</div>


<!-- /////////////////////////////// -->


<div *ngIf="insumosData.ventana == 4 && !insumosData.loading && !usuarios.loading && !loginData.loading" class="row mt-5 justify-content-center animated fadeIn">
  <div class="col col-md-8 col-lg-6 bg-white rounded shadow-sm p-4">

    <div class="row align-items-center">
      
      <div class="col col-auto">
        <div class="row">
          <div class="col col-auto mr-0">
            <h2 class="mr-0">Detalles:</h2>
          </div>
          <div class="col col-auto  p-0">
            <h2 class="ml-0 text-secondary">{{insumosData.insumo.nombre}}</h2>
          </div>
        </div>
      </div>


      <div class="col text-right">
        <button (click)="toEditar(insumosData.insumo.id)" class="btn btn-diputado ">Editar</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-2">
      </div>
    </div>


    <div class="row">
      <div class="col">
        <ul>
          <li><b>Nombre: </b>{{insumosData.insumo.nombre}}</li>
          <li><b>Código: </b>{{insumosData.insumo.codigo}}</li>
          <li><b>Categoria: </b>
            <ng-container *ngIf="insumosData.insumo.subcategoria">
              {{insumosData.insumo.subcategoria.categoria.nombre}}
            </ng-container>
            <ng-container *ngIf="!insumosData.insumo.subcategoria">
              (Sin asignar)
            </ng-container>
          </li>
          <li><b>Sub-categoria: </b>
            <ng-container *ngIf="insumosData.insumo.subcategoria">
              {{insumosData.insumo.subcategoria.nombre}}
            </ng-container>
            <ng-container *ngIf="!insumosData.insumo.subcategoria">
              (Sin asignar)
            </ng-container>
          </li>
          <li><b>Tiempo de preparación: </b>{{insumosData.insumo.preparacion}} días</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><b>Mínimo por pedido: </b>{{insumosData.insumo.minimo}}</li>
          <li><b>Máximo en rango: </b>{{insumosData.insumo.maximo}}</li>
          <li><b>Frecuencia de pedido: </b>cada {{insumosData.insumo.frecuencia}} días</li>
          <li><b>Stock: </b>{{insumosData.insumo.stock}}</li>
          <li><b>Punto de pedido: </b>{{insumosData.insumo.alerta}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-2">
      </div>
    </div>

    <div class="accordion mt-1" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark sectionText" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Tratos especiales
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

                <div *ngIf="this.insumosData.insumo.tratos.length > 0" class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="buscarTrato" id="listSearch">
                  </div>
                </div>

                <div *ngIf="this.insumosData.insumo.tratos.length > 0" class="row mt-3">
                  <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Oficina</th>
                          <th scope="col">Minimo</th>
                          <th scope="col">Maximo</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of this.insumosData.insumo.tratos | search: buscarTrato | paginate: { itemsPerPage: 8, currentPage: pTratos, id: 'first' }">
                          <th scope="row">{{loginData.getNombreOfiAlmacen(item.oficina_id)}}</th>
                          <td>{{item.minimo}}</td>
                          <td>{{item.maximo}}</td>
                          <td>
                            <button (click)="borrarTrato(item.id)" class="btn btn-danger" type="button">✘</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <ng-container *ngIf="this.insumosData.insumo.tratos.length > 8">
                
                  <div class="row mt-0 pt-0">
                    <div class="col pt-0">
                      <hr class="mt-0">
                    </div>
                  </div>
                
                  <div class="row justify-content-center">
                    <div class="col col-auto">
                      <pagination-controls previousLabel="Anterior" id="first" nextLabel="Siguiente" (pageChange)="pTratos = $event">
                      </pagination-controls>
                    </div>
                  </div>
                
                </ng-container>

                <div *ngIf="this.insumosData.insumo.tratos.length == 0" class="row">
                  <div class="col">
                    <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <hr class="">
                  </div>
                </div>

                <div class="row">
                  <div class="col text-right">
                    <button class="btn btn-diputado" data-toggle="modal"
                      data-target="#tratoModal">Nuevo trato</button>
                  </div>
                </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark sectionText" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
              Tratos excepcionales
            </button>
          </h2>
        </div>
      
        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
      
            <!-- <div *ngIf="this.insumosData.insumo.excepcionales.length > 0" class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="buscarTrato" id="listSearch">
              </div>
            </div> -->
      
            <div *ngIf="this.insumosData.insumo.excepcionales.length > 0" class="row mt-3">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Oficina</th>
                      <th scope="col">inicio</th>
                      <th scope="col">final</th>
                      <th scope="col">cantidad</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of this.insumosData.insumo.excepcionales | search: buscarTrato | paginate: { itemsPerPage: 8, currentPage: pExcepcionales, id: 'first' }">
                      <th scope="row">{{loginData.getNombreOfiAlmacen(item.oficina_id)}}</th>
                      <td>{{item.inicio}}</td>
                      <td>{{item.final}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>
                        <button (click)="borrarExcepcional(item.id)" class="btn btn-danger" type="button">✘</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      
            <ng-container *ngIf="this.insumosData.insumo.excepcionales.length > 8">
      
              <div class="row mt-0 pt-0">
                <div class="col pt-0">
                  <hr class="mt-0">
                </div>
              </div>
      
              <div class="row justify-content-center">
                <div class="col col-auto">
                  <pagination-controls previousLabel="Anterior" id="first" nextLabel="Siguiente"
                    (pageChange)="pExcepcionales = $event">
                  </pagination-controls>
                </div>
              </div>
      
            </ng-container>
      
            <div *ngIf="this.insumosData.insumo.excepcionales.length == 0" class="row">
              <div class="col">
                <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
              </div>
            </div>
      
            <div class="row">
              <div class="col">
                <hr class="">
              </div>
            </div>
      
            <div class="row">
              <div class="col text-right">
                <button class="btn btn-diputado" data-toggle="modal" data-target="#excepcionalModal">Nuevo excepcional</button>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark sectionText collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Historial de stock
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">

            <div *ngIf="this.insumosData.insumo.movimientos .length == 0" class="row">
              <div class="col">
                <h4 class="text-secondary text-center font-italic">... Historial vacio ...</h4>
              </div>
            </div>

            <div *ngIf="this.insumosData.insumo.movimientos .length > 0" class="row mt-0">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">anterior</th>
                      <th scope="col">actual</th>
                      <th scope="col">acción</th>
                      <th scope="col">comentario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of this.insumosData.insumo.movimientos | paginate: { itemsPerPage: 8, currentPage: pStock, id: 'second' }">
                      <th>{{utils.parseDate(item.fecha)}}</th>
                      <td><ng-container *ngIf="item.tipo != 0">{{item.original}}</ng-container></td>
                      <td>{{item.nuevo}}</td>
                      <td>
                        <ng-container *ngIf="item.tipo == 0">Stock inicial</ng-container>
                        <ng-container *ngIf="item.tipo == 1">Modificado por {{loginData.getNombreAdminAlmacen(item.user_id)}}</ng-container>
                        <ng-container *ngIf="item.tipo == 2">Restado por solicitud de la oficina {{loginData.getNombreOfiAlmacen(item.oficina_id)}}</ng-container>
                      </td>
                      <td class="text-center">
                        <button (click)="toComentarioStock(item.id)" *ngIf="item.comentario" class="btn btn-sm btn-diputado" data-toggle="modal" data-target="#comentarioStockModal">≡</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <ng-container *ngIf="this.insumosData.insumo.movimientos.length > 8">
            
              <div class="row mt-0 pt-0">
                <div class="col pt-0">
                  <hr class="mt-0">
                </div>
              </div>
            
              <div class="row justify-content-center">
                <div class="col col-auto">
                  <pagination-controls previousLabel="Anterior" id="second" nextLabel="Siguiente" (pageChange)="pStock = $event">
                  </pagination-controls>
                </div>
              </div>
            
            </ng-container>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mt-3">
      </div>
    </div>

    <div class="row ">
      <div class="col text-center">
        <button class="btn btn-diputado" (click)="cambioVentana(1)">Volver</button>
      </div>
    </div>

  </div>
</div>

<!-- /////////////////////////////////////////////////// -->

<div class="modal fade mt-5" id="comentarioStockModal" tabindex="-1" role="dialog" aria-labelledby="comentarioStockModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comentario de modificación:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">
            <p>{{this.comentarioStock}}</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col text-right">
            <button (click)="this.comentarioStock = ''" type="button" class="btn btn-diputado"
              data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /////////////////////////////////////////////////// -->

<div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Stock: {{insumoStock.nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="nuevoStock">Nuevo Stock</label>
              <input [(ngModel)]="insumoStock.stock" name="stockmod" type="number" class="form-control" id="nuevoStock"
                placeholder="Stock">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Comentario:</label>
              <textarea [(ngModel)]="insumoStock.comentario" name="coment" class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col text-left">
            <button (click)="updateStock()" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
          <div class="col text-right">
            <button (click)="this.insumoStock.comentario = ''" type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /////////////////////////////////////////////////// -->

<div *ngIf="loginData.almacen" class="modal fade mt-5" id="tratoModal" tabindex="-1" role="dialog"
  aria-labelledby="comentarioStockModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo trato:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">
            <label>Oficina:</label>
            <ng-select [items]="loginData.almacen.oficinas" bindLabel="nombre" bindValue="id" notFoundText='Sin resultados'
              placeholder="Elegir oficina" [(ngModel)]="tratoEnviar.oficina_id">
            </ng-select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label>Minimo:</label>
            <input [(ngModel)]="tratoEnviar.minimo" name="min" type="number" class="form-control" id="exampleInputPassword1"
              placeholder="Minimo">
          </div>
          <div class="col">
            <label>Maximo:</label>
            <input [(ngModel)]="tratoEnviar.maximo" name="max" type="number" class="form-control" id="exampleInputPassword1"
              placeholder="Maximo">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row text-right">
          <div class="col">
            <button (click)="enviarTrato()" data-dismiss="modal" class="btn btn-diputado" type="button">Enviar</button>
          </div>
          <div class="col col-auto text-right">
            <button type="button" class="btn btn-diputado"
              data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /////////////////////////////////////////////////// -->

<div *ngIf="loginData.almacen" class="modal fade mt-5" id="excepcionalModal" tabindex="-1" role="dialog"
  aria-labelledby="comentarioStockModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo trato excepcional:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">
            <label>Oficina:</label>
            <ng-select [items]="loginData.almacen.oficinas" bindLabel="nombre" bindValue="id"
              notFoundText='Sin resultados' placeholder="Elegir oficina" [(ngModel)]="excepcionalEnviar.oficina_id">
            </ng-select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label>Incio:</label>
            <input [(ngModel)]="excepcionalEnviar.inicio" name="ini" type="date" class="form-control"
              id="exampleInputPassword1" placeholder="Minimo">
          </div>
          <div class="col">
            <label>Final:</label>
            <input [(ngModel)]="excepcionalEnviar.final" name="fin" type="date" class="form-control"
              id="exampleInputPassword1" placeholder="Maximo">
          </div>
          <div class="col">
            <label>Cantidad:</label>
            <input [(ngModel)]="excepcionalEnviar.cantidad" name="can" type="number" class="form-control" id="exampleInputPassword1"
              placeholder="Maximo">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row text-right">
          <div class="col">
            <button (click)="enviarExcepcional()" data-dismiss="modal" class="btn btn-diputado" type="button">Enviar</button>
          </div>
          <div class="col col-auto text-right">
            <button type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>