<app-loading *ngIf="usuarios.loading || oficinas.loading"></app-loading>

<!-- //////////////////////////////// -->

<div *ngIf="!usuarios.loading && !oficinas.loading && oficinas.ventana == 1"
  class="row justify-content-center mt-5 animated fadeIn">
  <div class="col col-lg-8 col-xl-5 bg-white rounded shadow-sm p-4">

    <div class="row mb-0">
      <div class="col col-auto">
        <h2>Listado de oficinas</h2>
      </div>
      <div class="col text-right">
        <button class="btn btn-diputado" data-toggle="collapse" href="#collapseAnadir" role="button"
          aria-expanded="false" aria-controls="collapseAnadir">Agregar</button>
      </div>
    </div>

    <div class="collapse" id="collapseAnadir">
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row px-3">
        <div class="col border rounded pt-3">

          <div class="row">
            <div class="col col-auto">
              <h4>Añadir oficina:</h4>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <hr class="my-0">
            </div>
          </div>

          <div class="row justify-content-lg-between align-items-center mt-3">
            <div class="col">
              <div class="form-group">
                <label for="inputCategoria">Nombre</label>
                <input [(ngModel)]="nombreCrear" name="crearCat" type="text" class="form-control" id="inputCategoria"
                  placeholder="Nombre">
              </div>
            </div>
            <div class="col text-right">
              <button (click)="crearOficina()" class="btn btn-diputado">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngIf="this.oficinas.oficinas.length > 0">
    
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th class="text-center" scope="col">Usuarios</th>
                <th class="text-center" scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.oficinas.oficinas; let i=index ">
                <td>{{item.nombre}}</td>
                <td class="text-center"><button class="btn btn-sm btn-diputado " 
                  (click)="toUsuarios(i)" data-toggle="modal" data-target="#usuariosModal">≡</button></td>
                <td class="text-center"><button class="btn btn-sm btn-diputado" 
                  (click)="toEditar(item)" data-toggle="modal" data-target="#editarModal">≡</button></td>
              </tr>
            </tbody>
          </table>
        </div>
     
    </div>

<!--     <div class="row justify-content-center">
      <div class="col col-auto">
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
 -->
    <ng-container *ngIf="this.oficinas.oficinas.length == 0">

          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h4 class="text-secondary text-center font-italic">...sin elementos...</h4>
            </div>
          </div>

    </ng-container>

  </div>
</div>


<!-- ///////////////// -->

<div class="modal fade mt-3" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar oficina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input [(ngModel)]="editarPack.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre...">
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="cambiarNombre()" type="button" class="btn btn-diputado" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>


<!-- ////////////////////////////////////////// -->

<div class="modal fade mt-3" id="usuariosModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="this.oficinas.oficinas[this.oficinaUsuariosId]" class="modal-title" id="exampleModalLabel">{{this.oficinas.oficinas[this.oficinaUsuariosId].nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ng-container *ngIf="this.oficinas.oficinas[this.oficinaUsuariosId]">

          <div class="row">
              <div class="col">
                <h5>Usuarios asignados:</h5>
              </div>
            </div>
            
            <ng-container *ngIf="this.oficinas.oficinas[this.oficinaUsuariosId].usuarios.length == 0">
              <div class="row mt-3">
                <div class="col">
                  <hr class="mb-3 mt-0">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col text-center">
                  <h5 class="text-secondary">(Sin usuarios asignados)</h5>
                </div>
              </div>
            </ng-container>
            
            <div *ngIf="this.oficinas.oficinas[this.oficinaUsuariosId].usuarios.length > 0" class="row mt-2">
              <div class="col">
            
                <table class="table mb-0">
                  <tbody>
                    <tr *ngFor="let usuario of this.oficinas.oficinas[this.oficinaUsuariosId].usuarios">
                      <td>{{usuario.name}}</td>
                      <td class="text-right">
                        <button (click)="quitarUsuario(this.oficinas.oficinas[this.oficinaUsuariosId].id, usuario.id)" data-dismiss="modal" class="btn btn-danger btn-sm">X</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            
              </div>
            </div>

        </ng-container>
        
        <div class="row">
          <div class="col">
            <hr class="mb-3 mt-0">
          </div>
        </div>
        
        <div class="row">
          <div *ngIf="listaUsuarios.length > 0"  class="col col-auto">
            <div class="form-group">
              <select [(ngModel)]="usuarioAgregarId" name='usr' class="form-control" id="usuario">
                <option selected disabled [value]="null">Asignar nuevo usuario</option>
                <option *ngFor="let item of listaUsuarios" value="{{item.id}}">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="col text-right">
            <h5 *ngIf="listaUsuarios.length == 0" class="text-center text-secondary font-italic">No hay mas usuarios para asignar</h5>
            <button data-dismiss="modal" type="button" *ngIf="listaUsuarios.length > 0" (click)="agregarUsuario()" class="btn btn-diputado"
              >Asignar</button>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-diputado" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>